name: Commit Context

on:
  push:
    branches:
      - main
      - dev
      - debug

jobs:
  get-commit-info:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Push to APICURON
        uses: ./
        with:
          MODE: per-commit
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          APICURON_TOKEN: ${{ secrets.APICURON_TOKEN }}
          ORCID_LOOKUP_SERVICE_ENDPOINT:
            ${{ secrets.ORCID_LOOKUP_SERVICE_ENDPOINT }}
          ORCID_LOOKUP_SERVICE_TOKEN: ${{ secrets.ORCID_LOOKUP_SERVICE_TOKEN }}
          RESOURCE_ID: disprot
